name: Java CI with Maven - Test and package

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest  

    steps:
      # 1. Étape : Vérification du dépôt
      - name: Checkout repository
        uses: actions/checkout@v4 

      # 2. Étape : Configuration de Java 21 avec la distribution corretto
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto' 

      # 3. Étape : Construction, tests et analyse de la qualité avec Maven et SonarQube
      - name: Build, test and analyze with Maven and SonarQube
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} 
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
          -Dsonar.projectKey=$(echo ${{ github.repository }} | sed 's-/-_-') \
